a {
    padding: 5px;
    border: 2px darkmagenta solid;
    text-decoration: none;
    border-radius: 4px;}
dt{
    text-align: center;
    color: darkmagenta;
    font-size: 40px;}
dd{
    text-align: center;
    font-size: 20px;}
footer{
    flex:1;
    padding: 1rem;
    margin:1px;
    text-align: center;}